.menu{
    padding : 24px;
    &-select{
        width : 200px;
        input{
            width : 200px;
        }
    }
    button{
        padding : 10px;
        border : 0
    }
    .search{
        display : flex;
        align-items : center;
        justify-content : space-around;
        .searchInput{
            height : 40px;
            padding : 0 15px;
            margin-right : 5px;
            font-size : inherit;
            line-height : 40px;
            color : #606266;
            background-color : #FFF;
            background-image : none;
            border : 1px solid #DCDFE6;
            border-radius : 4px;
            outline : 0;
            transition : border-color .2s cubic-bezier(.645,.045,.355,1);
        }
    }
    
}